parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Http\\Middleware\\Authenticate\:\:redirectTo\(\) should return string\|null but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Middleware/Authenticate.php

		-
			message: '#^Method App\\Http\\Middleware\\RedirectIfAuthenticated\:\:handle\(\) should return Illuminate\\Http\\RedirectResponse\|Illuminate\\Http\\Response but returns Illuminate\\Http\\RedirectResponse\|Illuminate\\Routing\\Redirector\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Middleware/RedirectIfAuthenticated.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Providers/RouteServiceProvider.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/cache.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/database.php

		-
			message: '#^Binary operation "\." between mixed and ''/storage'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: config/filesystems.php

		-
			message: '#^Binary operation "\." between ''tls\://'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: config/logging.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: config/logging.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/sanctum.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/session.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: routes/channels.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: routes/channels.php

		-
			message: '#^Cannot call method comment\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: routes/console.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: routes/console.php

		-
			message: '#^Cannot call method bootstrap\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Tests\\TestCase\:\:createApplication\(\) should return Illuminate\\Foundation\\Application but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ExampleTest.php
